@model IEnumerable<AccountManagement.Models.Schedule>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Маршрути";
    string date = "";
    foreach(var schedule in Model)
    {
        if(DateTime.Compare(schedule.StartsAtStation.Date,schedule.ArrivesAtDestination.Date) == 0)
        {
            date = $"{schedule.StartsAtStation.Date.Day}/{schedule.StartsAtStation.Date.Month}/{schedule.StartsAtStation.Date.Year}";
        }
        else
        {
            if(schedule.StartsAtStation.Date.Year!= schedule.ArrivesAtDestination.Date.Year)
            {
                date = $"{schedule.StartsAtStation.Date.Day}/{schedule.StartsAtStation.Date.Month}/{schedule.StartsAtStation.Date.Year} - {schedule.StartsAtStation.Date.Day}/{schedule.StartsAtStation.Date.Month}/{schedule.StartsAtStation.Date.Year} ";
            }
            else if (schedule.StartsAtStation.Date.Month != schedule.ArrivesAtDestination.Date.Month)
            {
                date = $"{schedule.StartsAtStation.Date.Day}/{schedule.StartsAtStation.Date.Month} - {schedule.ArrivesAtDestination.Date.Day}/{schedule.ArrivesAtDestination.Date.Month}/{schedule.StartsAtStation.Date.Year} ";
            }
            else
            {
                date = $"{schedule.StartsAtStation.Date.Day} - {schedule.ArrivesAtDestination.Date.Day}/{schedule.ArrivesAtDestination.Date.Month}/{schedule.StartsAtStation.Date.Year} ";
            }
        }
    }
}
<main>
    <h2 style="justify-self:center">Маршрути</h2>
    <form asp-action="Index" method="get" style="justify-self:center;width:100%;justify-items:center">
        <br />
        <input placeholder="От къде" name="fromWhere" id="fromWhere" class="form-control" style="width:45%"/>
        <br />
        <input placeholder="До къде" name="toWhere" id="toWhere" class="form-control" style="width:45%" />
        <br />
        <button type="submit" class="btn btn-primary">Търси</button>
    </form>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary plus">Създай</a>
    }
    <table class="table">
        <thead>
        <th>Траектория</th>
        <th>Дата</th>
        <th>Тръгва</th>
        <th>Пристига</th>
        <th>Зает ли е?</th>
        <th>Влак</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var schedule in Model)
            {
               
                    <tr>
                        <td>@schedule.FromWhere - @schedule.ToWhere</td>
                        <td>@date</td>
                        <td>@schedule.StartsAtStation.TimeOfDay</td>
                        <td>@schedule.ArrivesAtDestination.TimeOfDay</td>
                    @if (schedule.Train.IsItCurrentlyUsed)
                    {
                        <td><button class="btn btn-danger" disabled>Зает</button></td>
                    }
                    else
                    {
                        <td><button class="btn btn-success" disabled>Свободен</button></td>
                    }
                        <td>@schedule.Train.SerialNumber</td>
                   
                    <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@schedule.Id" class="btn btn-danger">Изтрий</a>
                                <a asp-action="Edit" asp-route-id="@schedule.Id" class="btn btn-primary">Редактирай</a>
                            }
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</main>

<style>
    .plus {
        justify-self: center;
    }

    main {
        margin: 0 5% 0 5%;
    }
</style>
