@model IEnumerable<AccountManagement.Models.Train>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Влакове";
}
<main>
    <h2 style="justify-self:center">Влакове</h2>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary plus">Create</a>
    }
    <table class="table">
        <thead>
        <th>Линия</th>
        <th>Брой пътници</th>
        <th>Сегашна траектория</th>
        <th>Вид влак</th>
        <th></th>
        </thead>
        <tbody>
           
            @foreach(var train in Model)
            {
                <tr>
                    <td>@train.Line</td>
                    <td>@train.AmountOfPassagers</td>
                    <td>@train.Schedule.FromWhere - @train.Schedule.ToWhere</td>
                    <td>@train.TypeOfTrain.Name</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@train.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Edit" asp-route-id="@train.Id" class="btn btn-primary">Edit</a>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
</main>

<style>
    .plus {
        justify-self: center;
    }

    main {
        margin: 0 5% 0 5%;
    }
</style>
